<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

     <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./">Spider Project</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./redditsearch">
                  <span data-feather="file"></span>
                  Crawl Reddit
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./twittersearch">
                  <span data-feather="shopping-cart"></span>
                  Crawl Twitter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./plotting">
                  <span data-feather="users"></span>
                  Get Plot & Statistics
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-6 col-lg-9 pt-3 px-4 shifting">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Reddit Search</h1>
				Spider Search~
          </div>
          
          <b>Crawls the specified subreddit to get comments/post information.</b>
          <form action="#" th:action="@{/redditsearch}" th:object="${search}" method="post">
	       	<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-default">Reddit Search</span>
			  </div>
			  <input type="text" th:field="*{search}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div>
				<button type="submit" value="Submit" class="btn btn-success btn-lg btn-block">Submit</button>
			 	<button type="reset" value="Reset"class="btn btn btn-dark btn-lg btn-block">Clear</button>
			 </div>
			</form>
			
			<br/><br/><br/>
			
			<b>Searches for and lists Subreddits that contain the term specified.</b>
			<form action="#" th:action="@{/subredditsearch}" th:object="${search}" method="post">
	       	<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-default">SubReddit Search</span>
			  </div>
			  <input type="text" th:field="*{search}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div>
				<button type="submit" value="Submit" class="btn btn-success btn-lg btn-block">Submit</button>
			 	<button type="reset" value="Reset"class="btn btn btn-dark btn-lg btn-block">Clear</button>
			 </div>
			</form>
			
			<br/><br/><br/>
			
			<b>Searches for posts that contain the specified term in the title in all of Reddit.</b>
			<form action="#" th:action="@{/titlesearch}" th:object="${search}" method="post">
	       	<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-default">Reddit Title Search</span>
			  </div>
			  <input type="text" th:field="*{search}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
			</div>
			<div>
				<button type="submit" value="Submit" class="btn btn-success btn-lg btn-block">Submit</button>
			 	<button type="reset" value="Reset"class="btn btn btn-dark btn-lg btn-block">Clear</button>
			 </div>
			</form>
        </main>
      </div>
    </div>

  </body>
</html>
