<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

     <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./">Spider Project</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./redditsearch">
                  <span data-feather="file"></span>
                  Crawl Reddit
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./twittersearch">
                  <span data-feather="shopping-cart"></span>
                  Crawl Twitter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./plotting">
                  <span data-feather="users"></span>
                  Get Plot & Stats
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
        <main role="main" class="col-md-6 col-lg-9 pt-3 px-4 shifting">
           <h1>An Error was detected</h1>
        </main>
        
      </div>
    </div>

  </body>
</html>
